<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Product Risk</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-pencil-ruler text-dark"> </i>
                </a>
              </li>
              <li aria-current="page" class="breadcrumb-item active">
                Product Risk
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <h5 class="h3 m-0">Upload Documents</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 col-lg-12">
              <div class="form-group">
                <label class="form-control-label">Name</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Enter name..."
                />
              </div>
            </div>
            <div class="col-md-12 col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Date</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="far fa-calendar-alt"></i
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    type="date"
                    placeholder="Pick a date..."
                  />
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-6">
              <form>
                <label class="form-control-label">Select file</label>
                <div class="custom-file">
                  <input
                    class="custom-file-input"
                    id="customFileLang"
                    lang="en"
                    type="file"
                  />

                  <label class="custom-file-label" for="customFileLang">
                    Select file
                  </label>
                </div>
              </form>
            </div>
            <div class="col-md-12 text-right align-items-center">
              <button
                class="btn btn-default"
                type="button"
                (click)="successSwal('uploaded')"
              >
                Upload
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <h5 class="h3 m-0">Search Tools</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 col-lg-4">
              <div class="form-group">
                <label class="form-control-label">Document's ID</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Enter document's ID..."
                />
              </div>
            </div>
            <div class="col-md-12 col-lg-4">
              <div class="form-group">
                <label class="form-control-label">Document's Name</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Enter document's name..."
                />
              </div>
            </div>
            <div class="col-md-12 col-lg-4">
              <div class="form-group">
                <label class="form-control-label">Date</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="far fa-calendar-alt"></i
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    type="date"
                    placeholder="Pick a date..."
                  />
                </div>
              </div>
            </div>
            <div class="col-md-12 text-right align-items-center">
              <button
                class="btn btn-default"
                type="button"
                (click)="successSwal('searched')"
              >
                Search
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <h5 class="h3 m-0">List of Documents</h5>
        </div>
        <div class="card-body">
          <div class="dataTables_wrapper py-4">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="datatable_length">
                  <label>
                    Show
                    <select
                      name="datatable_length"
                      aria-controls="datatable"
                      class="form-control form-control-sm"
                      (change)="entriesChange($event)"
                    >
                      <option value="3" [selected]="entries == 3">3</option>
                      <option value="6" [selected]="entries == 6">6</option>
                      <option value="9" [selected]="entries == 9">9</option>
                      <option value="-1" [selected]="entries == -1">All</option>
                    </select>
                    entries
                  </label>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div id="datatable_filter" class="dataTables_filter">
                  <label>
                    <input
                      type="search"
                      class="form-control form-control-sm"
                      placeholder="Search records"
                      aria-controls="datatable"
                      (keyup)="filterTable($event)"
                    />
                  </label>
                </div>
              </div>
            </div>

            <ngx-datatable
              class="bootstrap selection-cell"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="entries != -1 ? entries : undefined"
              [rows]="temp"
            >
              <ngx-datatable-column name="Document's ID">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.clientId }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Document's Name">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.name }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Date">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.date }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Type of Documents">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.type }}
                </ng-template>
              </ngx-datatable-column>
              <!-- <ngx-datatable-column>
                  <ng-template ngx-datatable-header-template>
                    <span> Percentage </span>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="row">
                      <div class="col-auto">{{ row.totalCall }}%</div>
                      <div class="col">
                        <div
                          style="
                            border: solid 1px #ddd;
                            margin: 5px;
                            padding: 3px;
                          "
                        >
                          <div
                            style="background: rgb(211, 108, 108); height: 10px"
                            [style.width]="row.totalCall + '%'"
                          ></div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column> -->
              <ngx-datatable-column name="Action">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <!-- <button class=" btn btn-icon btn-danger btn-sm" type="button" title="Action" (click)="openModal(viewAction)">
                                                      <span class=" btn-inner--icon"> <i class=" fas fa-file-pdf"> </i> </span>
                                                  </button> -->
                  <button
                    class="btn btn-icon btn-default btn-sm"
                    type="button"
                    title="View"
                    (click)="openModal(viewAction)"
                  >
                    <span class="btn-inner--icon">
                      <i class="far fa-eye"> </i>
                    </span>
                  </button>
                  <button
                    class="btn btn-icon btn-success btn-sm"
                    type="button"
                    title="Download"
                    (click)="successSwal('downloaded')"
                  >
                    <span class="btn-inner--icon">
                      <i class="fas fa-download"> </i>
                    </span>
                  </button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #viewAction>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white" id="modal-title-default">
      View Details
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="modalRef.hide()"
    >
      <span class="text-white" aria-hidden="true"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <label class="form-control-label">Document's ID</label>
          <input class="form-control" type="text" value="61" disabled />
        </div>
      </div>

      <div class="col-lg-12">
        <div class="form-group">
          <label class="form-control-label">Document's Name</label>
          <input
            class="form-control"
            type="text"
            value="Tiger Nixon"
            disabled
          />
        </div>
      </div>

      <div class="col-lg-12">
        <div class="form-group">
          <label class="form-control-label">Date</label>
          <input class="form-control" type="text" value="2011/04/25" disabled />
        </div>
      </div>

      <div class="col-lg-12">
        <div class="form-group">
          <label class="form-control-label">Type of Documents</label>
          <input class="form-control" type="text" value="Act" disabled />
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-default text-white"
      type="button"
      class="btn btn-success"
      (click)="successSave()"
    >
      Save
    </button>
    <button
      class="btn btn-outline-danger ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="modalRef.hide()"
    >
      Close
    </button>
  </div>
</ng-template>
