<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Dashboard</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-home text-dark"> </i>
                </a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 mb-0">Tasks</h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div
                class="timeline timeline-one-side"
                data-timeline-axis-style="dashed"
                data-timeline-content="axis"
              >
                <div class="timeline-block">
                  <span class="timeline-step badge-success">
                    <i class="ni ni-bell-55"> </i>
                  </span>

                  <div class="timeline-content">
                    <div class="d-flex justify-content-between pt-1">
                      <div>
                        <span class="text-muted text-sm font-weight-bold">
                          New message
                        </span>
                      </div>

                      <div class="text-right">
                        <small class="text-muted">
                          <i class="fas fa-clock mr-1"> </i> 2 min ago
                        </small>
                      </div>
                    </div>

                    <h6 class="text-sm mt-1 mb-0">New document uploaded.</h6>
                  </div>
                </div>

                <div class="timeline-block">
                  <span class="timeline-step badge-danger">
                    <i class="ni ni-bell-55"> </i>
                  </span>

                  <div class="timeline-content">
                    <div class="d-flex justify-content-between pt-1">
                      <div>
                        <span class="text-muted text-sm font-weight-bold">
                          New message
                        </span>
                      </div>

                      <div class="text-right">
                        <small class="text-muted">
                          <i class="fas fa-clock mr-1"> </i> 1 hrs ago
                        </small>
                      </div>
                    </div>

                    <h6 class="text-sm mt-1 mb-0">
                      A new issue has been reported for web application.
                    </h6>
                  </div>
                </div>

                <div class="timeline-block">
                  <span class="timeline-step badge-info">
                    <i class="ni ni-bell-55"> </i>
                  </span>

                  <div class="timeline-content">
                    <div class="d-flex justify-content-between pt-1">
                      <div>
                        <span class="text-muted text-sm font-weight-bold">
                          New message
                        </span>
                      </div>

                      <div class="text-right">
                        <small class="text-muted">
                          <i class="fas fa-clock mr-1"> </i> 3 hrs ago
                        </small>
                      </div>
                    </div>

                    <h6 class="text-sm mt-1 mb-0">
                      The web application has been deployed.
                    </h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div
                class="timeline timeline-one-side"
                data-timeline-axis-style="dashed"
                data-timeline-content="axis"
              >
                <div class="timeline-block">
                  <span class="timeline-step badge-success">
                    <i class="ni ni-bell-55"> </i>
                  </span>

                  <div class="timeline-content">
                    <div class="d-flex justify-content-between pt-1">
                      <div>
                        <span class="text-muted text-sm font-weight-bold">
                          New message
                        </span>
                      </div>

                      <div class="text-right">
                        <small class="text-muted">
                          <i class="fas fa-clock mr-1"> </i> 2 min ago
                        </small>
                      </div>
                    </div>

                    <h6 class="text-sm mt-1 mb-0">New document uploaded.</h6>
                  </div>
                </div>

                <div class="timeline-block">
                  <span class="timeline-step badge-danger">
                    <i class="ni ni-bell-55"> </i>
                  </span>

                  <div class="timeline-content">
                    <div class="d-flex justify-content-between pt-1">
                      <div>
                        <span class="text-muted text-sm font-weight-bold">
                          New message
                        </span>
                      </div>

                      <div class="text-right">
                        <small class="text-muted">
                          <i class="fas fa-clock mr-1"> </i> 1 hrs ago
                        </small>
                      </div>
                    </div>

                    <h6 class="text-sm mt-1 mb-0">
                      A new issue has been reported for web application.
                    </h6>
                  </div>
                </div>

                <div class="timeline-block">
                  <span class="timeline-step badge-info">
                    <i class="ni ni-bell-55"> </i>
                  </span>

                  <div class="timeline-content">
                    <div class="d-flex justify-content-between pt-1">
                      <div>
                        <span class="text-muted text-sm font-weight-bold">
                          New message
                        </span>
                      </div>

                      <div class="text-right">
                        <small class="text-muted">
                          <i class="fas fa-clock mr-1"> </i> 3 hrs ago
                        </small>
                      </div>
                    </div>

                    <h6 class="text-sm mt-1 mb-0">
                      The web application has been deployed.
                    </h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div
                class="timeline timeline-one-side"
                data-timeline-axis-style="dashed"
                data-timeline-content="axis"
              >
                <div class="timeline-block">
                  <span class="timeline-step badge-success">
                    <i class="ni ni-bell-55"> </i>
                  </span>

                  <div class="timeline-content">
                    <div class="d-flex justify-content-between pt-1">
                      <div>
                        <span class="text-muted text-sm font-weight-bold">
                          New message
                        </span>
                      </div>

                      <div class="text-right">
                        <small class="text-muted">
                          <i class="fas fa-clock mr-1"> </i> 2 min ago
                        </small>
                      </div>
                    </div>

                    <h6 class="text-sm mt-1 mb-0">New document uploaded.</h6>
                  </div>
                </div>

                <div class="timeline-block">
                  <span class="timeline-step badge-danger">
                    <i class="ni ni-bell-55"> </i>
                  </span>

                  <div class="timeline-content">
                    <div class="d-flex justify-content-between pt-1">
                      <div>
                        <span class="text-muted text-sm font-weight-bold">
                          New message
                        </span>
                      </div>

                      <div class="text-right">
                        <small class="text-muted">
                          <i class="fas fa-clock mr-1"> </i> 1 hrs ago
                        </small>
                      </div>
                    </div>

                    <h6 class="text-sm mt-1 mb-0">
                      A new issue has been reported for web application.
                    </h6>
                  </div>
                </div>

                <div class="timeline-block">
                  <span class="timeline-step badge-info">
                    <i class="ni ni-bell-55"> </i>
                  </span>

                  <div class="timeline-content">
                    <div class="d-flex justify-content-between pt-1">
                      <div>
                        <span class="text-muted text-sm font-weight-bold">
                          New message
                        </span>
                      </div>

                      <div class="text-right">
                        <small class="text-muted">
                          <i class="fas fa-clock mr-1"> </i> 3 hrs ago
                        </small>
                      </div>
                    </div>

                    <h6 class="text-sm mt-1 mb-0">
                      The web application has been deployed.
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card card-calendar">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 mb-0">Calender</h5>
            </div>
            <div class="col text-right">
              <a
                class="fullcalendar-btn-prev btn btn-sm btn-neutral"
                href="javascript:void(0)"
                (click)="calendar.next()"
              >
                <i class="fas fa-angle-left"> </i>
              </a>

              <a
                class="fullcalendar-btn-next btn btn-sm btn-neutral"
                href="javascript:void(0)"
                (click)="calendar.prev()"
              >
                <i class="fas fa-angle-right"> </i>
              </a>

              <a
                class="btn btn-sm btn-neutral"
                data-calendar-view="month"
                href="javascript:void(0)"
                (click)="changeView('dayGridMonth')"
              >
                Month
              </a>

              <a
                class="btn btn-sm btn-neutral"
                data-calendar-view="basicWeek"
                href="javascript:void(0)"
                (click)="changeView('dayGridWeek')"
              >
                Week
              </a>

              <a
                class="btn btn-sm btn-neutral"
                data-calendar-view="basicDay"
                href="javascript:void(0)"
                (click)="changeView('dayGridDay')"
              >
                Day
              </a>
            </div>
          </div>
        </div>
        <div class="card-body p-0">
          <div
            class="calendar"
            data-toggle="calendar"
            id="calendarAdminDashboard"
          ></div>
        </div>
      </div>

      <div
        aria-hidden="true"
        aria-labelledby="new-event-label"
        class="modal fade"
        id="new-event"
        role="dialog"
        tabindex="-1"
      >
        <div
          class="modal-dialog modal-dialog-centered modal-secondary"
          role="document"
        >
          <ng-template #modalAdd>
            <div class="modal-body">
              <form class="new-event--form">
                <div class="form-group">
                  <label class="form-control-label"> Event title </label>

                  <input
                    class="
                      form-control form-control-alternative
                      new-event--title
                    "
                    id="new-event--title"
                    placeholder="Event Title"
                    type="text"
                    (change)="getNewEventTitle($event)"
                  />
                </div>

                <div class="form-group mb-0">
                  <label class="form-control-label d-block mb-3">
                    Status color
                  </label>

                  <div
                    class="
                      btn-group btn-group-toggle btn-group-colors
                      event-tag
                    "
                    data-toggle="buttons"
                  >
                    <label
                      class="btn bg-info"
                      [ngClass]="{ active: radios === 'bg-info' }"
                    >
                      <input
                        autocomplete="off"
                        checked="checked"
                        name="event-tag"
                        type="radio"
                        value="bg-info"
                        (click)="radios = 'bg-info'"
                      />
                    </label>

                    <label
                      class="btn bg-warning"
                      [ngClass]="{ active: radios === 'bg-warning' }"
                    >
                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-warning"
                        (click)="radios = 'bg-warning'"
                      />
                    </label>

                    <label
                      class="btn bg-danger"
                      [ngClass]="{ active: radios === 'bg-danger' }"
                    >
                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-danger"
                        (click)="radios = 'bg-danger'"
                      />
                    </label>

                    <label
                      class="btn bg-success"
                      [ngClass]="{ active: radios === 'bg-success' }"
                    >
                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-success"
                        (click)="radios = 'bg-success'"
                      />
                    </label>

                    <label
                      class="btn bg-default"
                      [ngClass]="{ active: radios === 'bg-default' }"
                    >
                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-default"
                        (click)="radios = 'bg-default'"
                      />
                    </label>

                    <label
                      class="btn bg-primary"
                      [ngClass]="{ active: radios === 'bg-primary' }"
                    >
                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-primary"
                        (click)="radios = 'bg-primary'"
                      />
                    </label>
                  </div>
                </div>

                <input class="new-event--start" type="hidden" />

                <input class="new-event--end" type="hidden" />
              </form>
            </div>

            <div class="modal-footer">
              <button
                class="btn btn-primary new-event--add"
                type="submit"
                (click)="addNewEvent()"
              >
                Add event
              </button>

              <button
                (click)="addModal.hide()"
                class="btn btn-link ml-auto"
                data-dismiss="modal"
                type="button"
              >
                Close
              </button>
            </div>
          </ng-template>
        </div>
      </div>

      <div
        aria-hidden="true"
        aria-labelledby="edit-event-label"
        class="modal fade"
        id="edit-event"
        role="dialog"
        tabindex="-1"
      >
        <div
          class="modal-dialog modal-dialog-centered modal-secondary"
          role="document"
        >
          <ng-template #modalEdit>
            <div class="modal-body">
              <form class="edit-event--form">
                <div class="form-group">
                  <label class="form-control-label"> Event title </label>

                  <input
                    class="
                      form-control form-control-alternative
                      edit-event--title
                    "
                    placeholder="Event Title"
                    type="text"
                    value="{{ eventTitle }}"
                    (change)="getNewEventTitle($event)"
                  />
                </div>

                <div class="form-group">
                  <label class="form-control-label d-block mb-3">
                    Status color
                  </label>

                  <div
                    class="
                      btn-group btn-group-toggle btn-group-colors
                      event-tag
                      mb-0
                    "
                    data-toggle="buttons"
                  >
                    <label
                      class="btn bg-info"
                      [ngClass]="{ active: radios === 'bg-info' }"
                    >
                      <input
                        autocomplete="off"
                        checked="checked"
                        name="event-tag"
                        type="radio"
                        value="bg-info"
                        (click)="radios = 'bg-info'"
                      />
                    </label>

                    <label
                      class="btn bg-warning"
                      [ngClass]="{ active: radios === 'bg-warning' }"
                    >
                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-warning"
                        (click)="radios = 'bg-warning'"
                      />
                    </label>

                    <label
                      class="btn bg-danger"
                      [ngClass]="{ active: radios === 'bg-danger' }"
                    >
                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-danger"
                        (click)="radios = 'bg-danger'"
                      />
                    </label>

                    <label
                      class="btn bg-success"
                      [ngClass]="{ active: radios === 'bg-success' }"
                    >
                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-success"
                        (click)="radios = 'bg-success'"
                      />
                    </label>

                    <label
                      class="btn bg-default"
                      [ngClass]="{ active: radios === 'bg-default' }"
                    >
                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-default"
                        (click)="radios = 'bg-default'"
                      />
                    </label>

                    <label
                      class="btn bg-primary"
                      [ngClass]="{ active: radios === 'bg-primary' }"
                    >
                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-primary"
                        (click)="radios = 'bg-primary'"
                      />
                    </label>
                  </div>
                </div>

                <div class="form-group">
                  <label class="form-control-label"> Description </label>

                  <textarea
                    class="
                      form-control form-control-alternative
                      edit-event--description
                      textarea-autosize
                    "
                    placeholder="Event Desctiption"
                    value="{{ eventDescription }}"
                    (change)="getNewEventDescription($event)"
                  ></textarea>

                  <i class="form-group--bar"> </i>
                </div>

                <input class="edit-event--id" type="hidden" />
              </form>
            </div>

            <div class="modal-footer">
              <button
                class="btn btn-primary"
                data-calendar="update"
                (click)="updateEvent()"
              >
                Update
              </button>

              <button
                class="btn btn-danger"
                data-calendar="delete"
                (click)="deleteEventSweetAlert()"
              >
                Delete
              </button>

              <button
                class="btn btn-link ml-auto"
                data-dismiss="modal"
                (click)="editModal.hide()"
              >
                Close
              </button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 py-3">
              <button
                type="button"
                class="btn btn-block btn-default"
                (click)="navigatePage('incident')"
              >
                Incident management
              </button>
            </div>
            <div class="col-md-4 py-3">
              <button
                type="button"
                class="btn btn-block btn-default"
                (click)="navigatePage('insurance')"
              >
                Insurance management
              </button>
            </div>
            <div class="col-md-4 py-3">
              <button
                type="button"
                class="btn btn-block btn-default"
                (click)="navigatePage('lost')"
              >
                Lost control
              </button>
            </div>
            <div class="col-md-4 py-3">
              <button
                type="button"
                class="btn btn-block btn-default"
                (click)="navigatePage('business')"
              >
                Business risk
              </button>
            </div>
            <div class="col-md-4 py-3">
              <button
                type="button"
                class="btn btn-block btn-default"
                (click)="navigatePage('product')"
              >
                Product risk
              </button>
            </div>
            <div class="col-md-4 py-3">
              <button
                type="button"
                class="btn btn-block btn-default"
                (click)="navigatePage('project')"
              >
                Project risk
              </button>
            </div>
            <div class="col-md-4 py-3">
              <button
                type="button"
                class="btn btn-block btn-default"
                (click)="navigatePage('compliance')"
              >
                Compliance
              </button>
            </div>
            <div class="col-md-4 py-3">
              <button
                type="button"
                class="btn btn-block btn-default"
                (click)="navigatePage('audit')"
              >
                Audit Trail
              </button>
            </div>
            <div class="col-md-4 py-3">
              <button
                type="button"
                class="btn btn-block btn-default"
                (click)="navigatePage('report')"
              >
                Reporting
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
