<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Registration</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-heartbeat text-dark"></i>
                </a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:void(0)" class="text-dark"
                  >Insurance Management</a
                >
              </li>
              <li aria-current="page" class="breadcrumb-item active">
                Registration
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 mb-0">Policy Period</h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chartdivinsuranceregistration1"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 mb-0">Type of Policy</h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chartdivinsuranceregistration2"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 py-3">
              <button
                type="button"
                class="btn btn-block btn-default"
                (click)="openModal(viewTable)"
              >
                Industrial All Risk
              </button>
            </div>
            <div class="col-md-4 py-3">
              <button
                type="button"
                class="btn btn-block btn-default"
                (click)="openModal(viewTable)"
              >
                Terrorism
              </button>
            </div>
            <div class="col-md-4 py-3">
              <button
                type="button"
                class="btn btn-block btn-default"
                (click)="openModal(viewTable)"
              >
                Fidelity Guarantee
              </button>
            </div>
            <div class="col-md-4 py-3">
              <button
                type="button"
                class="btn btn-block btn-default"
                (click)="openModal(viewTable)"
              >
                Money
              </button>
            </div>
            <div class="col-md-4 py-3">
              <button
                type="button"
                class="btn btn-block btn-default"
                (click)="openModal(viewTable)"
              >
                Marine Open Cover
              </button>
            </div>
            <div class="col-md-4 py-3">
              <button
                type="button"
                class="btn btn-block btn-default"
                (click)="openModal(viewTable)"
              >
                Comprehensive General Liability
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #viewTable>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white" id="modal-title-default">
      List of Policy
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="modalRef.hide()"
    >
      <span class="text-white" aria-hidden="true"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body">
          <div class="dataTables_wrapper py-4">
            <div class="row">
              <div class="col-md-12 py-3 text-right">
                <button
                  class="btn btn-default"
                  type="button"
                  (click)="openModal1(addNew)"
                >
                  Add New
                </button>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="datatable_length">
                  <label>
                    Show
                    <select
                      name="datatable_length"
                      aria-controls="datatable"
                      class="form-control form-control-sm"
                      (change)="entriesChange($event)"
                    >
                      <option value="3" [selected]="entries == 3">3</option>
                      <option value="6" [selected]="entries == 6">6</option>
                      <option value="9" [selected]="entries == 9">9</option>
                      <option value="-1" [selected]="entries == -1">All</option>
                    </select>
                    entries
                  </label>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div id="datatable_filter" class="dataTables_filter">
                  <label>
                    <input
                      type="search"
                      class="form-control form-control-sm"
                      placeholder="Search records"
                      aria-controls="datatable"
                      (keyup)="filterTable($event)"
                    />
                  </label>
                </div>
              </div>
            </div>

            <ngx-datatable
              class="bootstrap selection-cell"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="entries != -1 ? entries : undefined"
              [rows]="temp"
            >
              <ngx-datatable-column name="Policy's ID">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.project }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Name of Insurer">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.name }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Policy Periods (Years)">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.period }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Claim Ratio (%)">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.rating }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Action </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <button
                    class="btn btn-icon btn-success btn-sm"
                    type="button"
                    title="Edit"
                    (click)="openModal1(addNew)"
                  >
                    <span class="btn-inner--icon">
                      <i class="fas fa-edit"> </i>
                    </span>
                  </button>
                  <button
                    class="btn btn-icon btn-warning btn-sm"
                    type="button"
                    title="Download PDF"
                    (click)="successSwal('downloaded the pdf')"
                  >
                    <span class="btn-inner--icon">
                      <i class="fas fa-file-pdf"> </i>
                    </span>
                  </button>
                  <button
                    class="btn btn-icon btn-danger btn-sm"
                    type="button"
                    title="Delete"
                    (click)="delete()"
                  >
                    <span class="btn-inner--icon">
                      <i class="fas fa-trash"> </i>
                    </span>
                  </button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <!-- <button
            class="btn btn-default text-white"
            type="button"
            class="btn btn-success"
            (click)="successSwallStepper()"
          >
            Save
          </button> -->
    <button
      class="btn btn-outline-danger ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="modalRef.hide()"
    >
      Close
    </button>
  </div>
</ng-template>

<ng-template #addNew>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white" id="modal-title-default">Add New</h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="modalRef1.hide()"
    >
      <span class="text-white" aria-hidden="true"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <label class="form-control-label">Name of Insurer</label>
          <input class="form-control" type="text" placeholder="Type here..." />
        </div>
      </div>
      <div class="col-lg-12">
        <div class="form-group">
          <label class="form-control-label">Name of Co-Insurer</label>
          <input class="form-control" type="text" placeholder="Type here..." />
        </div>
      </div>
      <div class="col-lg-12">
        <div class="form-group">
          <label class="form-control-label">Period of Policy (Years)</label>
          <input class="form-control" type="number" placeholder="000" />
        </div>
      </div>
      <div class="col-lg-12">
        <div class="form-group">
          <label class="form-control-label">Total Sum Insured or Limit of Coverage</label>
          <input class="form-control" type="number" placeholder="000" />
        </div>
      </div>
      <div class="col-lg-12">
        <div class="form-group">
          <label class="form-control-label">Policy Excess & Deductible</label>
          <input class="form-control" type="text" placeholder="Type here..." />
        </div>
      </div>
      <div class="col-lg-12">
        <div class="form-group">
          <label class="form-control-label">Premium Amount</label>
          <input class="form-control" type="number" placeholder="000" />
        </div>
      </div>
      <div class="col-lg-12">
        <div class="form-group">
          <label class="form-control-label">Premium Rate</label>
          <input class="form-control" type="number" placeholder="000" />
        </div>
      </div>
      <div class="col-lg-12">
        <div class="form-group">
          <label class="form-control-label">Claim Ratio</label>
          <input class="form-control" type="number" placeholder="000" />
        </div>
      </div>
      <div class="col-lg-12">
        <div class="form-group">
          <label class="form-control-label">Mudharabah Paid</label>
          <input class="form-control" type="number" placeholder="000" />
        </div>
      </div>
      <div class="col-lg-12">
        <div class="form-group">
          <label class="form-control-label">Policy Description</label>
          <input class="form-control" type="text" placeholder="Type here..." />
        </div>
      </div>
      <div class="col-lg-12">
        <div class="form-group">
          <label class="form-control-label">Policy Number</label>
          <input class="form-control" type="number" placeholder="000" />
        </div>
      </div>
      <div class="col-lg-12">
        <div class="form-group">
          <label class="form-control-label">Claim Reserved</label>
          <input class="form-control" type="number" placeholder="000" />
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-default text-white"
      type="button"
      class="btn btn-success"
      (click)="successSwallStepper()"
    >
      Save
    </button>
    <button
      class="btn btn-outline-danger ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="modalRef1.hide()"
    >
      Close
    </button>
  </div>
</ng-template>
