<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Perkeso</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-exclamation-circle text-dark"></i>
                </a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:void(0)" class="text-dark"
                  >Incident Management</a
                >
              </li>
              <li aria-current="page" class="breadcrumb-item active">
                Perkeso
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body bg-warning">
          <div class="row align-items-center">
            <div class="col-xl-12 mb-3">
              <a
                class="btn btn-warning btn-block"
                href="https://www.perkeso.gov.my/"
              >
                <img
                  class="mb-2"
                  src="/assets/img/logo/perkeso-logo.png"
                  alt="Perkeso"
                  style="width: 120px; height: auto"
                />
                <br />
                <h5 class="h3 mb-0 text-white">Perkeso Official Website</h5>
              </a>
            </div>
            <div class="col-xl-8">
              <h5 class="h3 mb-0 text-white">
                <strong>Download FORM34</strong>
              </h5>
            </div>
            <div class="col-xl-4 text-right">
              <a
                class="btn btn-default btn-block mb-3"
                href="https://www.perkeso.gov.my/images/borang2017/Borang_Faedah/borang34/Borang_34.pdf"
              >
                Click Here!
              </a>
              <a
                class="text-white"
                href="https://www.perkeso.gov.my/images/borang2017/Borang_Faedah/borang34/Panduan_Mengisi_Borang_34Ver_Feb_2019.pdf"
                >Guide Notes on Filling out Form34</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col-7">
              <h5 class="h3 m-0">Search Tools</h5>
            </div>
            <!-- <div class="col-5 text-right">
                <button
                  class="btn btn-default"
                  type="button"
                  (click)="openModal(addNew)"
                >
                  Add New
                </button>
              </div> -->
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-10">
              <div class="form-group">
                <label class="form-control-label"
                  >Perkeso's Report Number</label
                >
                <input class="form-control" type="text" placeholder="IE000" />
              </div>
            </div>
            <div class="col-md-2 d-flex align-items-center">
              <button
                class="btn btn-default"
                type="button"
                (click)="successSwal('searched')"
              >
                Search
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <h3 class="m-0">List of Perkeso Data</h3>
        </div>
        <div class="card-body">
          <div class="dataTables_wrapper py-4">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="datatable_length">
                  <label>
                    Show
                    <select
                      name="datatable_length"
                      aria-controls="datatable"
                      class="form-control form-control-sm"
                      (change)="entriesChange($event)"
                    >
                      <option value="3" [selected]="entries == 3">3</option>
                      <option value="6" [selected]="entries == 6">6</option>
                      <option value="9" [selected]="entries == 9">9</option>
                      <option value="-1" [selected]="entries == -1">All</option>
                    </select>
                    entries
                  </label>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div id="datatable_filter" class="dataTables_filter">
                  <label>
                    <input
                      type="search"
                      class="form-control form-control-sm"
                      placeholder="Search records"
                      aria-controls="datatable"
                      (keyup)="filterTable($event)"
                    />
                  </label>
                </div>
              </div>
            </div>

            <ngx-datatable
              class="bootstrap selection-cell"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="entries != -1 ? entries : undefined"
              [rows]="temp"
            >
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Incident's ID </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.project }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Perkeso's Incident No. </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.perkeso }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Date </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.date }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Incident Root Cause </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.type }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Action </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <button
                    class="btn btn-icon btn-default btn-sm"
                    type="button"
                    title="Edit"
                    (click)="openModal(viewData)"
                  >
                    <span class="btn-inner--icon">
                      <i class="fas fa-edit"> </i>
                    </span>
                  </button>
                  <!-- <button
                          class="btn btn-icon btn-default btn-sm"
                          type="button"
                          title="View"
                          (click)="openModal(addNew)"
                        >
                          <span class="btn-inner--icon">
                            <i class="far fa-eye"> </i>
                          </span>
                        </button> -->
                  <!-- <button
                        class="btn btn-icon btn-success btn-sm"
                        type="button"
                        title="Claim"
                        (click)="successSwal('claimed')"
                      >
                        <span class="btn-inner--icon">
                          <i class="fas fa-hand-holding-usd"> </i>
                        </span>
                      </button> -->
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #viewData>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white" id="modal-title-default">Add New</h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="modalRef.hide()"
    >
      <span class="text-white" aria-hidden="true"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <label class="form-control-label">Incident's ID</label>
          <input class="form-control" type="text" value="101" disabled />
        </div>
      </div>

      <div class="col-lg-12">
        <div class="form-group">
          <label class="form-control-label">Perkeso Report Number</label>
          <input class="form-control" type="text" value="IE523" disabled />
        </div>
      </div>

      <div class="col-lg-12">
        <div class="form-group">
          <label class="form-control-label">Date</label>
          <input class="form-control" type="text" value="6/1/2020" disabled />
        </div>
      </div>

      <div class="col-lg-12">
        <div class="form-group">
          <label class="form-control-label">Incident Root Cause</label>
          <input
            class="form-control"
            type="text"
            value="Fire Incident"
            disabled
          />
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <!-- <button
      class="btn btn-default text-white"
      type="button"
      class="btn btn-success"
      (click)="successSwallStepper()"
    >
      Save
    </button> -->
    <button
      class="btn btn-outline-danger ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="modalRef.hide()"
    >
      Close
    </button>
  </div>
</ng-template>
